## Pandas Í≥ºÏ†ú

Tabular dataÏùò Í≤ΩÏö∞ Î™®Îç∏ÏùÑ ÎèåÎ¶¨Í∏∞Ïóê ÏïûÏÑúÏÑú pandasÎ•º ÌÜµÌïú Ï†ÑÏ≤òÎ¶¨Í∞Ä ÎßéÏù¥ ÌïÑÏöîÌï©ÎãàÎã§.

Îã§Ïùå Í≥ºÏ†úÏóêÏÑúÎäî ÌåêÎã§Ïä§ÏóêÏÑú Í∞ÄÏû• ÏûêÏ£º Ïì∞Ïù¥Îäî Ìï®ÏàòÎì§ÏùÑ Îã§Î£πÎãàÎã§.

Íµ¨Í∏ÄÏóê Ïò¨ÎùºÏôÄ ÏûàÎäî ÌåêÎã§Ïä§ Ïó∞ÏäµÎ¨∏Ï†ú 200Ï†ú Ï§ë Ï§ëÎ≥µÎêòÎäî Í≤É, Î∂àÌïÑÏöîÌïòÎã§Í≥† ÏÉùÍ∞ÅÎêòÎäî Í≤ÉÏùÑ Ï†úÏô∏ÌïòÏó¨ Í≥ºÏ†úÎ•º ÎßåÎì§Í≤å ÎêòÏóàÏäµÎãàÎã§.

ÎÑòÌååÏù¥ Í¥ÄÎ†® Î¨∏Ï†úÎì§ÎèÑ ÏûàÏóàÏßÄÎßå ÌåêÎã§Ïä§Î°úÎßå Í≥ºÏ†úÎ•º Íµ¨ÏÑ±ÌïòÍ≤å ÎêòÏóàÍ≥†, Í∑∏Í≤ÉÎì§ÎèÑ ÌíÄÏñ¥Î≥¥Í≥† Ïã∂ÏùÄ Î∂ÑÎì§ÏùÄ ÏïÑÎûò Ï∂úÏ≤òÎ•º ÎÇ®Í≤® ÎÜìÏïòÏúºÎãà Ï∞∏Í≥†ÌïòÏÑ∏Ïöî.

ÏïΩ 150Í∞ú Ï†ïÎèÑÎ°ú Î¨∏Ï†ú ÏàòÍ∞Ä ÎßéÏßÄÎßå Í∏∞Ï¥àÏ†ÅÏù∏ Î¨∏Ï†úÎì§Ïù¥ ÎßéÍ∏∞ ÎïåÎ¨∏Ïóê ÏãúÍ∞ÑÏù¥ Ï¢Ä Í±∏Î¶¥ Îøê ÌÅ∞ Ïñ¥Î†§ÏõÄÏùÄ ÏóÜÏùÑ Í±∞Îùº ÏÉùÍ∞ÅÌï©ÎãàÎã§.

Î¨∏Ï†úÎ•º ÌíÄÎã§Î≥¥Î©¥ Î∂ÄÏûêÏó∞Ïä§Îü¨Ïö¥ Î¨∏Ï†úÎèÑ ÎßéÏù¥ ÏûàÏßÄÎßå Í∑∏ÎÉ• Ïó∞Ïäµ ÏÇºÏïÑ ÌíÄÏñ¥Î≥¥ÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.

Í¥ÄÎ†® csvÌååÏùºÎì§ÏùÄ Î≥ÑÎèÑÏùò ÌååÏùºÏóê Îã¥ÏïÑÎÜìÏïòÏäµÎãàÎã§.


 Î∞úÏ†úÏûê: DA 23Í∏∞ ÏñëÏßÑÏÑ±

### Ï∂úÏ≤ò

Author: Avi Chawla

LinkedIn: https://www.linkedin.com/in/avi-chawla/

Read my blogs here: https://medium.com/@avi_chawla

- **Pandas**

1. Pandas Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-1-d693ac55-6455-40cf-ae34-867c6a02014e/%2Fnotebook.ipynb)
2. Pandas Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-dataset-7e3b6755-5d4b-464b-9b75-9c84667ae3bd/%2Fnotebook.ipynb)

3. Pandas Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-part-2-adc5a3ee-5f61-4725-8e46-ccb07899acfc/%2Fnotebook.ipynb)

4. Pandas Notebook 4: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-after-employee-f84e02a1-fb6a-428e-af90-8dd99855749a/%2Fnotebook.ipynb) **(This Notebook)**

- **NumPy**

1. NumPy Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Numpy-part-1-9b9979f2-b708-4292-b466-3d0157564c91/%2Fnotebook.ipynb)

2. NumPy Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-2-4456411e-2ddd-426d-8027-4881080027db/%2Fnotebook.ipynb)

3. NumPy Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-3-e6587114-b580-4249-b599-540de859e603/%2Fnotebook.ipynb)

- **SQL**

1. SQL Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-1-eac9d782-a9b1-4e84-a1f9-af14080a6121/%2Fnotebook.ipynb)

2. SQL Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-2-1914b214-be03-44a1-be63-ad99e98be639/%2Fnotebook.ipynb)

# Pandas Notebook 1

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

## Create a Pandas DataFrame

### 1. Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3".

In [3]:
data_list = [[1,2,3], [4,5,6]]

df = pd.DataFrame(data_list, columns=['col1', 'col2', 'col3'])
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6

### 2. Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3". Change the data type of all columns to "int8".

In [4]:
data_list = [[1,2,3], [4,5,6]]

df = pd.DataFrame(data_list, columns=['col1', 'col2', 'col3'])
df = df.astype('int8')
print(df)
print(df.dtypes)

   col1  col2  col3
0     1     2     3
1     4     5     6
col1    int8
col2    int8
col3    int8
dtype: object

### 3. Create a DataFrame from a dictionary.

In [5]:
data_dict = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data_dict)
print(df)

   col1  col2
0     1     3
1     2     4

### 4. Create a DataFrame from a dictionary. Change the data type to "int8".

In [6]:
data_dict = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data_dict)
df = df.astype('int8')
print(df)
print(df.dtypes)

   col1  col2
0     1     3
1     2     4
col1    int8
col2    int8
dtype: object

### 5. Create a DataFrame from a numpy array. Name the columns "col1", "col2" and "col3".

In [7]:
data_nparray = np.array([[1,2,3], [4,5,6]])

df = pd.DataFrame(data_nparray, columns=['col1', 'col2', 'col3'])
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6

## Input Operations from CSV in Pandas

### 6. Read a CSV File.

In [8]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file1.csv"

df = pd.read_csv(csv_file)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 7. Read a CSV file with delimiter "|".

In [9]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file2.csv"

df = pd.read_csv(csv_file, sep='|')
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 8. Read a CSV file with no header column and use "col1", "col2" and "col3" as column names. The delimiter is ",".

In [10]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file3.csv"

column_names = ['col1', 'col2', 'col3']

df = pd.read_csv(csv_file, header=None, names=column_names)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 9. There are 3 columns in the file, namely "col1", "col2", and "col3". You have to read only "col1" and "col3".

In [11]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file1.csv"
columns_to_read = ["col1", "col3"]

df = pd.read_csv(csv_file, usecols=columns_to_read)
print(df)

   col1  col3
0     1     3
1     4     6
2     7     9

### 10. There are 3 columns in the file, namely "col1", "col2", and "col3". You have to read only "col1" and "col3". Moreover, the delimiter is "|".

In [12]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file2.csv"

columns_to_read = ["col1", "col3"]

df = pd.read_csv(csv_file, sep='|', usecols=columns_to_read)
print(df)

   col1  col3
0     1     3
1     4     6
2     7     9

### 11. The file "file4.csv" has junk characters in the first two lines. You have to read the CSV file from the 3rd line.

In [13]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file4.csv"

skip_rows = 2

df = pd.read_csv(csv_file, skiprows=skip_rows)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 12. There are 3 columns in the file, namely "col1", "col2", and "col3". While reading the CSV file, specify the data type of "col1" as 'int32'.

In [14]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file1.csv"

dtype_specification = {'col1': 'int32'}

df = pd.read_csv(csv_file, dtype=dtype_specification)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 13. The first column in the CSV file holds index values of the dataframe. Read it so that the first column goes as the index column of the dataframe.

In [15]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file5.csv"

df = pd.read_csv(csv_file, index_col=0)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 14. There are 9 data rows in the CSV file. Read only the first 4 of them.

Note: You should NOT read the whole CSV file and use the head() method to select the first 4 rows. üö´

In [16]:
csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/file6.csv"

n_rows_to_read = 4

df = pd.read_csv(csv_file, nrows=n_rows_to_read)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
3     1     2     3

## Output Operations to CSV in Pandas

### 16. Given the dataframe "df", store it to a CSV File (with the index values).

In [17]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/output_data/file1.csv"

## Start your code here
df.to_csv(csv_file, index=True)


## End your code here

### 17. Given the dataframe "df", store it to a CSV File without the index column this time.

In [18]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/output_data/file2.csv"

## Start your code here
df.to_csv(csv_file, index=False)

## End your code here

### 20. Given a dataframe "df" with three columns -- "col1", "col2" and "col3". Store the DataFrame to a CSV file without the column row ( and without the index values).

In [19]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/output_data/file5.csv"


## Start your code here

df.to_csv(csv_file, header=False, index=False)

## End your code here

# Pandas Notebook 2

### 31. Read the CSV file.

In [20]:
import pandas as pd

In [21]:
file_name = "/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/employee_dataset.csv"

df = pd.read_csv(file_name)

### 32. Print the first 5 rows.

In [22]:
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8

### 33. Print the last 10 rows.

In [23]:
df.tail(10)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
299990,Monica Bender,"Wallace, Smith and Shepard",Production engineer,New Cindychester,Bangladesh,852660,Full Time,3.0
299991,William Rodriguez,Scott Inc,Ergonomist,Whiteside,New Zealand,214400,Full Time,1.5
299992,Steven Thornton,"Baker, Allen and Edwards",Patent examiner,Aliciafort,Benin,60240,Full Time,4.3
299993,Terry Hill,"White, Mcclain and Cobb","Investment banker, corporate",New Cindychester,Sweden,414720,Intern,2.3
299994,Kelly Bennett,"White, Mcclain and Cobb","Radiographer, therapeutic",Wardfort,Fiji,182270,Full Time,3.6
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 34. Print the number of rows.

In [24]:
rows = df.shape[0]

print(rows)

300000

In [25]:
df.shape

(300000, 8)

### 35. Print the number of columns.

In [26]:
columns = df.shape[1]

print(columns)

8

### 36. Print all column names.

In [27]:
column_names = df.columns

print(column_names)

Index(['Name', 'Company_Name', 'Employee_Job_Title', 'Employee_City',
       'Employee_Country', 'Employee_Salary', 'Employment_Status',
       'Employee_Rating'],
      dtype='object')

### 37. Print the mean of Employee_Salary.

In [28]:
print(df['Employee_Salary'].mean())

500224.20772666665

### 38. Print the mean of Employee_Rating.

In [29]:
print(df['Employee_Rating'].mean())

2.5059550000000006

### 39. Print the number of distinct Company_Name.

In [30]:
df['Company_Name'].nunique()

15

### 41. Print the number of employees working in the company "Nichols-James".

In [31]:
df[df['Company_Name'] == 'Nichols-James'].shape[0]

19911

### 42-44. Print the maximum, minimum and median Employee_Salary.

In [32]:
max_salary = df['Employee_Salary'].max() #42
min_salary = df['Employee_Salary'].min() #43
median_salary = df['Employee_Salary'].median() #44

print("Maximum Salary:", max_salary)
print("Minimum Salary:", min_salary)
print("Median Salary:", median_salary)

Maximum Salary: 999990
Minimum Salary: 0
Median Salary: 500780.0

### 45-49. Print the distribution of the following columns: (the frequency of individual entries).

1. Company_Name

In [33]:
df['Company_Name'].value_counts()

Scott Inc                         20390
White, Mcclain and Cobb           20261
Thomas-Spencer                    20142
Nelson-Li                         20132
Taylor-Ramos                      20122
Baker, Allen and Edwards          20084
Matthews Inc                      20083
Bullock-Carrillo                  20063
Andrade LLC                       19983
Campos, Reynolds and Mccormick    19927
Nichols-James                     19911
James and Sons                    19868
Marshall-Holloway                 19859
Johnston, Fleming and Tanner      19811
Wallace, Smith and Shepard        19364
Name: Company_Name, dtype: int64

2. Employee_Job_Title

In [34]:
df['Employee_Job_Title'].value_counts()

Diplomatic Services operational officer                  30137
Administrator                                            15222
Garment/textile technologist                             15183
Trading standards officer                                15155
Patent examiner                                          15085
Armed forces logistics/support/administrative officer    15050
Retail merchandiser                                      15033
Energy manager                                           15033
Actuary                                                  15030
Investment banker, corporate                             15008
Ergonomist                                               15006
Production engineer                                      15003
Equities trader                                          15000
Naval architect                                          14905
Radiographer, therapeutic                                14882
Regulatory affairs officer                               14869
Optometrist                                              14838
Sales promotion account executive                        14820
Make                                                     14741
Name: Employee_Job_Title, dtype: int64

### 50. Print the company with the most number of employees.

In [35]:
df['Company_Name'].value_counts().idxmax()

'Scott Inc'

### 51. Print the number of employees in the above company.

In [36]:
df[df['Company_Name'] == 'Scott Inc'].shape[0]

20390

### 52. Print the company with the least number of employees.

In [37]:
df['Company_Name'].value_counts().idxmin()

'Wallace, Smith and Shepard'

### 53. Print the number of employees in the above company.

In [38]:
df[df['Company_Name'] == 'Wallace, Smith and Shepard'].shape[0]

19364

### 54. Print the employee details with the maximum salary

In [39]:
max_salary_index = df['Employee_Salary'].idxmax()
employee_max_salary_df = df.loc[max_salary_index:max_salary_index]

In [40]:
employee_max_salary_df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
70356,Anna Lawson,Taylor-Ramos,Production engineer,Kristaburgh,Lesotho,999990,Full Time,4.0

### 55. Print the employee details with the maximum rating

In [41]:
max_ratings = df[df['Employee_Rating'] == df['Employee_Rating'].max()].index
employees_max_rating_df = df.loc[max_ratings]

In [42]:
employees_max_rating_df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
124,Joshua Huffman,James and Sons,Garment/textile technologist,New Russellton,Cook Islands,694760,Full Time,5.0
342,Alan Carlson,"Baker, Allen and Edwards",Diplomatic Services operational officer,Kristaburgh,Mongolia,491710,Intern,5.0
391,Lisa Summers,"Johnston, Fleming and Tanner",Regulatory affairs officer,North Melissafurt,Togo,933500,Full Time,5.0
395,Timothy Woods,"Johnston, Fleming and Tanner",Garment/textile technologist,Whiteside,United States Virgin Islands,367630,Full Time,5.0
415,Cameron Hawkins,Taylor-Ramos,Armed forces logistics/support/administrative ...,Wardfort,Tanzania,66570,Intern,5.0
...,...,...,...,...,...,...,...,...
299689,Michael Jordan,"Johnston, Fleming and Tanner",Naval architect,Whitakerbury,Philippines,474540,Full Time,5.0
299855,Rebecca Garrison,Nelson-Li,Production engineer,Whitakerbury,Ireland,592530,Full Time,5.0
299900,Daniel Jones,Taylor-Ramos,Sales promotion account executive,Kristaburgh,Sierra Leone,32160,Full Time,5.0
299906,Justin Mendez,Bullock-Carrillo,Regulatory affairs officer,New Cindychester,Colombia,374540,Full Time,5.0
299973,Doris Miller,Andrade LLC,Armed forces logistics/support/administrative ...,Wardfort,Kazakhstan,943340,Intern,5.0

### 56. Print the Company_Name with most number of employees in 'Wardfort' city.

In [43]:
df[df['Employee_City'] == 'Wardfort']['Company_Name'].value_counts().idxmax()

'White, Mcclain and Cobb'

### 57. Change the Data type of 'Employee_Salary' column to float.

### 58. Print the Employee_City with the most number of 'Production engineer'.

### 60. Print the Company_Name with the highest average 'Employee_Rating'.

### 61. Print the number of employees working in 'Ricardomouth' and 'Kristaburgh' location combined.

### 62. Print the distinct Company_Name corresponding to the 5 highest paid employees in the dataset.

### 63. Check if there are any duplicate rows in the DataFrame.

### 64. Check if any of the columns has NaN values.

### 65. Print the data type of every column in the DataFrame.

### 66. Print the Company_Name column only as a Series

### 67. Print the Company_Name column only as a DataFrame

### 68. Select the 'Employee_Job_Title' and 'Employee_City' column.

### 69. Print the number of employees with Employee_Rating greater than the average Employee_Rating

### 74. Print the first 5 rows of the first 5 columns.

### 76. Print the number of employees whose first name starts with the letter 'V'.

### 77. Print the number of employees whose last name starts with the letter 'R'.

### 78. Select the rows 2 to 7 and the columns 3 to 7 (both included)

### 79. Select every row after the 10th row and select all columns.

### 83. Print the name of the company with the maximum employees having rating > 4.

### 88. Which is the most common first name in the dataframe?

### 90. What is the average name length?

# Pandas Notebook 3

In [80]:
import pandas as pd

In [81]:
df = pd.read_csv("/content/drive/MyDrive/Ybigta/0104 numpy, pandas/input_data/employee_dataset.csv")

In [82]:
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 91. What is the ratio of total full-time employees to Interns?

In [83]:
full_time_count = df[df['Employment_Status'] == 'Full Time'].shape[0]
intern_count = df[df['Employment_Status'] == 'Intern'].shape[0]
print(full_time_count / intern_count)

4.0008334722453744

### 92. Starting from the first record, print every third record in the DataFrame.

Print 1st row, then 4th, 7th, 10th, and so on...

In [84]:
df.iloc[::3]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
6,Kelly Brown,Andrade LLC,Naval architect,Wardfort,Aruba,711410,Full Time,2.0
9,Michael Edwards,"Campos, Reynolds and Mccormick",Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
12,Tiffany Galvan,"Campos, Reynolds and Mccormick",Diplomatic Services operational officer,West Jamesview,Niger,786430,Intern,3.6
...,...,...,...,...,...,...,...,...
299985,Chase Stevens,Nelson-Li,Energy manager,Whitakerbury,Northern Mariana Islands,590590,Full Time,2.6
299988,Kenneth Hurley,Scott Inc,Make,New Russellton,Russian Federation,211180,Full Time,3.9
299991,William Rodriguez,Scott Inc,Ergonomist,Whiteside,New Zealand,214400,Full Time,1.5
299994,Kelly Bennett,"White, Mcclain and Cobb","Radiographer, therapeutic",Wardfort,Fiji,182270,Full Time,3.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6

### 93. Find the average salary for every company.

In [85]:
average_salary_by_company = df.groupby('Company_Name')['Employee_Salary'].mean()

In [86]:
average_salary_by_company

Company_Name
Andrade LLC                       497237.159385
Baker, Allen and Edwards          498032.358445
Bullock-Carrillo                  499603.804865
Campos, Reynolds and Mccormick    503528.982687
James and Sons                    503581.015754
Johnston, Fleming and Tanner      500579.128010
Marshall-Holloway                 502314.169445
Matthews Inc                      501640.159488
Nelson-Li                         500569.824558
Nichols-James                     497881.232334
Scott Inc                         500491.809024
Taylor-Ramos                      498747.292516
Thomas-Spencer                    499350.850164
Wallace, Smith and Shepard        500807.608810
White, Mcclain and Cobb           499083.493806
Name: Employee_Salary, dtype: float64

### 95. Find the average salary and average rating for every company in a single line.

In [87]:
average_stats_by_company = df.groupby('Company_Name').agg({'Employee_Salary': 'mean', 'Employee_Rating': 'mean'})

In [88]:
average_stats_by_company

                                Employee_Salary  Employee_Rating
Company_Name
Andrade LLC                       497237.159385         2.498218
Baker, Allen and Edwards          498032.358445         2.504795
Bullock-Carrillo                  499603.804865         2.502014
Campos, Reynolds and Mccormick    503528.982687         2.506288
James and Sons                    503581.015754         2.505023
Johnston, Fleming and Tanner      500579.128010         2.513159
Marshall-Holloway                 502314.169445         2.504900
Matthews Inc                      501640.159488         2.525454
Nelson-Li                         500569.824558         2.504649
Nichols-James                     497881.232334         2.488554
Scott Inc                         500491.809024         2.515993
Taylor-Ramos                      498747.292516         2.513150
Thomas-Spencer                    499350.850164         2.505114
Wallace, Smith and Shepard        500807.608810         2.497402
White, Mcclain and Cobb           499083.493806         2.504047

### 96. Find the number of unique Employee_City corresponding to every Company_Name.

In [54]:
unique_cities_by_company = df.groupby('Company_Name')['Employee_City'].nunique()
print(unique_cities_by_company)

Company_Name
Andrade LLC                       10
Baker, Allen and Edwards          10
Bullock-Carrillo                  10
Campos, Reynolds and Mccormick    10
James and Sons                    10
Johnston, Fleming and Tanner      10
Marshall-Holloway                 10
Matthews Inc                      10
Nelson-Li                         10
Nichols-James                     10
Scott Inc                         10
Taylor-Ramos                      10
Thomas-Spencer                    10
Wallace, Smith and Shepard        10
White, Mcclain and Cobb           10
Name: Employee_City, dtype: int64

### 98. Print the number of full-time and intern employees for every company

In [89]:
employee_counts_by_company = df.groupby(['Company_Name', 'Employment_Status']).size().unstack(fill_value=0)

In [90]:
employee_counts_by_company

Employment_Status               Full Time  Intern
Company_Name
Andrade LLC                         15964    4019
Baker, Allen and Edwards            16118    3966
Bullock-Carrillo                    16135    3928
Campos, Reynolds and Mccormick      15930    3997
James and Sons                      15888    3980
Johnston, Fleming and Tanner        15832    3979
Marshall-Holloway                   15871    3988
Matthews Inc                        16082    4001
Nelson-Li                           16027    4105
Nichols-James                       15872    4039
Scott Inc                           16396    3994
Taylor-Ramos                        16086    4036
Thomas-Spencer                      16037    4105
Wallace, Smith and Shepard          15467    3897
White, Mcclain and Cobb             16305    3956

### 99. Print the job title with the most employees.

In [91]:
most_employees_job_title = df['Employee_Job_Title'].value_counts().idxmax()
print(most_employees_job_title)

Diplomatic Services operational officer

### 107. Check if the substring 'Michael Edward' appears in the Name column or not.

In [92]:
substring_check = df['Name'].str.contains('Michael Edward')

In [93]:
result_df = df.loc[substring_check].copy()

In [94]:
result_df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
9,Michael Edwards,"Campos, Reynolds and Mccormick",Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
5255,Michael Edwards,"Johnston, Fleming and Tanner",Regulatory affairs officer,West Jamesview,Brazil,822420,Intern,3.5
18849,Michael Edwards,"White, Mcclain and Cobb",Armed forces logistics/support/administrative ...,Whiteside,Croatia,818710,Full Time,2.8
25616,Michael Edwards,Bullock-Carrillo,Trading standards officer,Wardfort,Greenland,467160,Intern,2.1
31519,Michael Edwards,Nelson-Li,Patent examiner,Whiteside,Kuwait,287350,Full Time,1.8
112668,Michael Edwards,Scott Inc,Equities trader,West Jamesview,Northern Mariana Islands,21540,Full Time,1.5
114386,Michael Edwards,Nichols-James,Patent examiner,Whitakerbury,Iceland,687630,Intern,2.1
124065,Michael Edwards,"White, Mcclain and Cobb",Diplomatic Services operational officer,Ricardomouth,Central African Republic,546870,Full Time,1.4
135078,Michael Edwards,Matthews Inc,Patent examiner,Wardfort,Grenada,209030,Full Time,2.2
149363,Michael Edwards,Scott Inc,Diplomatic Services operational officer,Wardfort,Chile,254160,Intern,1.2
158104,Michael Edwards,"Wallace, Smith and Shepard",Regulatory affairs officer,New Russellton,Angola,121770,Full Time,1.1
191831,Michael Edwards,"Wallace, Smith and Shepard",Trading standards officer,Aliciafort,Israel,854420,Full Time,4.8
193911,Michael Edwards,"Baker, Allen and Edwards","Investment banker, corporate",New Cindychester,Lesotho,365180,Full Time,1.8
205550,Michael Edwards,"Johnston, Fleming and Tanner",Patent examiner,Wardfort,Belgium,579130,Intern,4.7
210504,Michael Edwards,"White, Mcclain and Cobb",Ergonomist,Whiteside,Philippines,150730,Full Time,3.2
217498,Michael Edwards,"Johnston, Fleming and Tanner",Actuary,Wardfort,Trinidad and Tobago,600090,Full Time,0.8
217970,Michael Edwards,Bullock-Carrillo,Equities trader,West Jamesview,Slovakia (Slovak Republic),698220,Full Time,0.7
227767,Michael Edwards,Marshall-Holloway,Armed forces logistics/support/administrative ...,North Melissafurt,Ghana,565940,Intern,4.4
229786,Michael Edwards,Scott Inc,Diplomatic Services operational officer,Whitakerbury,Turks and Caicos Islands,105450,Intern,2.6
267189,Michael Edwards,James and Sons,Make,Ricardomouth,Paraguay,391700,Intern,1.4
276731,Michael Edwards,"Campos, Reynolds and Mccormick",Armed forces logistics/support/administrative ...,North Melissafurt,Serbia,865280,Intern,0.7
282601,Michael Edwards,"White, Mcclain and Cobb",Naval architect,Wardfort,Cambodia,855180,Intern,4.7
287887,Michael Edwards,Scott Inc,"Investment banker, corporate",Aliciafort,Belize,69680,Intern,1.9
298857,Michael Edwards,"White, Mcclain and Cobb",Make,New Cindychester,Macao,318800,Full Time,3.6

### 110. Print the number of records whose company name contains the substring 'LL' (case-insensitive).

In [95]:
substring_check = df['Company_Name'].str.contains('LL', case=False)
records_count_with_substring = sum(substring_check)
print(records_count_with_substring)

99353

In [96]:
result_df = df.loc[substring_check].copy()

In [97]:
result_df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
5,Vanessa Allen,Andrade LLC,Make,Ricardomouth,Mali,850140,Full Time,2.6
6,Kelly Brown,Andrade LLC,Naval architect,Wardfort,Aruba,711410,Full Time,2.0
11,Timothy Johnson,"Baker, Allen and Edwards",Regulatory affairs officer,Ricardomouth,Georgia,503610,Full Time,2.9
18,Carrie Woods,Bullock-Carrillo,Ergonomist,New Russellton,Gabon,985290,Full Time,2.4
...,...,...,...,...,...,...,...,...
299977,Anthony Hughes,Bullock-Carrillo,Sales promotion account executive,Whitakerbury,Georgia,464910,Full Time,4.1
299986,Chelsea Lee,Andrade LLC,"Investment banker, corporate",Wardfort,Switzerland,88410,Full Time,4.4
299990,Monica Bender,"Wallace, Smith and Shepard",Production engineer,New Cindychester,Bangladesh,852660,Full Time,3.0
299992,Steven Thornton,"Baker, Allen and Edwards",Patent examiner,Aliciafort,Benin,60240,Full Time,4.3
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3

### 111. Select the first row corresponding to every company in the dataframe

In [98]:
first_row_per_company = df.groupby('Company_Name').head(1)

#first(), last(), nth()

In [99]:
first_row_per_company

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
5,Vanessa Allen,Andrade LLC,Make,Ricardomouth,Mali,850140,Full Time,2.6
7,Vicki Beard,Matthews Inc,Diplomatic Services operational officer,Kristaburgh,Western Sahara,777000,Full Time,3.3
8,Lisa French,Taylor-Ramos,"Radiographer, therapeutic",West Jamesview,Kuwait,870580,Full Time,1.3
9,Michael Edwards,"Campos, Reynolds and Mccormick",Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
10,Victoria Sutton,"White, Mcclain and Cobb",Naval architect,Whiteside,Poland,656260,Full Time,4.9
17,Gail Rose,Thomas-Spencer,Patent examiner,Whitakerbury,Finland,178570,Full Time,1.9
18,Carrie Woods,Bullock-Carrillo,Ergonomist,New Russellton,Gabon,985290,Full Time,2.4
25,David Phillips,Marshall-Holloway,"Radiographer, therapeutic",Kristaburgh,British Virgin Islands,58800,Full Time,0.6
45,Ronald Clark,"Wallace, Smith and Shepard",Regulatory affairs officer,North Melissafurt,Palau,914110,Full Time,3.2
61,Micheal Fitzgerald,Nelson-Li,Diplomatic Services operational officer,Whitakerbury,Switzerland,796690,Full Time,4.1

### 113. Reset the index of the dataframe inplace and delete the older index values.

In [100]:
df.reset_index(drop=True, inplace=True)

In [101]:
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 115-1) Add a new row at the bottom of the DataFrame.

In [102]:
last_row = df.iloc[-1]
df = pd.concat([df, last_row.to_frame().transpose()], ignore_index=True)

In [103]:
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3
300000,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 115-2) Delete the row that was just newly added.

In [104]:
df.drop(df.index[-1], inplace=True)

In [105]:
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 117. Add a new column "Employee_Rating_New" which should be as follows:

Employee_Rating_New = max(1.5, 2*Employee_Rating - 3)

### 118. Convert the entire DataFrame to a list of lists. Do NOT overwrite to the current dataframe object.

### 120. Rearrange the columns in the below order. Overwrite to the current DataFrame object.

In [ ]:
new_order = ["Name", "Employee_Job_Title", "Company_Name",
             "Employee_City", "Employee_Country", "Employment_Status",
             "Employee_Salary", "Employee_Rating", "Employee_Rating_New"]

### 123. Drop the 'Name' column inplace from the DataFrame.

,Employee_Job_Title,Company_Name,Employee_City,Employee_Country,Employment_Status,Employee_Salary,Employee_Rating,Employee_Rating_New
0,Equities trader,James and Sons,New Russellton,Palestinian Territory,Full Time,321520,3.9,4.8
1,Diplomatic Services operational officer,Nichols-James,North Melissafurt,Marshall Islands,Full Time,589090,4.3,5.6
2,Regulatory affairs officer,Scott Inc,Wardfort,Anguilla,Full Time,630890,3.1,3.2
3,Production engineer,"Johnston, Fleming and Tanner",West Jamesview,Syrian Arab Republic,Full Time,116400,3.1,3.2
4,Production engineer,"Baker, Allen and Edwards",Whiteside,Dominica,Full Time,523499,4.8,6.6
...,...,...,...,...,...,...,...,...
299996,Administrator,"Johnston, Fleming and Tanner",Aliciafort,Cuba,Intern,949580,2.6,2.2
299997,Administrator,Nichols-James,New Cindychester,Bolivia,Full Time,802830,0.6,1.5
299998,Make,Nichols-James,Whitakerbury,Western Sahara,Full Time,257240,2.4,1.8
299999,Actuary,James and Sons,New Russellton,United Kingdom,Intern,575770,3.3,3.6
300000,Production engineer,Scott Inc,Wardfort,Anguilla,Full Time,343930,3.3,3.6

### 126. Rename the columns and store to a new DataFrame 'df_renamed':

1. Employee_Rating -> Rating
2. Employee_Country -> Country
3. Employee_Salary -> Salary
4. Employee_Rating_New -> Rating_New
5. Employment_Status -> Employment_type
6. Employment_City -> City

### 128. Count the number of NaN values in each column

Employee_Job_Title     0
Company_Name           0
Employee_City          0
Employee_Country       0
Employment_Status      0
Employee_Salary        0
Employee_Rating        0
Employee_Rating_New    0
dtype: int64

### 131.  Map every Company_Name to a unique integer value. Name the new column "Company_ID".

For instance, if the data has 5 companies, "Company A" -> 1, "Company B" -> 2, "Company C" -> 3, "Company D" -> 4, "Company E" -> 5.

### 133. Print the number of rows where 'City' belongs to the following list of cities.

Use the isin() method.

In [ ]:
city_filter_list = ["New Russellton", "Whiteside", "Kristaburgh"]

row_count =
print(row_count)

90054

### 135. Print the name of the person with the 10th largest salary. If there are multiple people with the same salary, print all names.

array(['Allen Chavez', 'David Ryan', 'Elizabeth Bell', 'Megan Petersen'],
      dtype=object)

### 136. Print a cross tabulation of Company Name and Employment Type.

Employment_Status               Full Time  Intern
Company_Name
Andrade LLC                         15964    4019
Baker, Allen and Edwards            16118    3966
Bullock-Carrillo                    16135    3928
Campos, Reynolds and Mccormick      15930    3997
James and Sons                      15888    3980
Johnston, Fleming and Tanner        15832    3979
Marshall-Holloway                   15871    3988
Matthews Inc                        16082    4001
Nelson-Li                           16027    4105
Nichols-James                       15872    4039
Scott Inc                           16396    3994
Taylor-Ramos                        16086    4036
Thomas-Spencer                      16037    4105
Wallace, Smith and Shepard          15467    3897
White, Mcclain and Cobb             16305    3956

### 143-145. Print the 25th, 50th and 75th percentile of the Salary column

25%    250000.0
50%    500780.0
75%    749710.0
Name: Employee_Salary, dtype: float64

### 147. Distribute the Salary column in 10 equal sized bins and label each bin from 1 to 10 and add a new column named "Labels"

# Pandas Notebook 4

### 151. Sort DataFrame based on another list

In [106]:
import pandas as pd

In [107]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col1", "col2"])

sort_list = ["C", "A", "D", "B"]

# start your code below
df['col1'] = pd.Categorical(df['col1'], categories=sort_list, ordered=True)
new_df = df.sort_values(by='col1').reset_index(drop=True)
# end your code here
print(new_df)

  col1  col2
0    C     3
1    A     1
2    D     4
3    B     2

### 152. Insert a column at a specific location in a DataFrame with a name, "new_column"

In [108]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

new_column = ["P", "Q", "R", "S"]
insert_position = 1 ## between col_A and col_B

## start your code below
df.insert(insert_position, "new_column", new_column)
print(df)
## end your code here

  col_A new_column  col_B
0     A          P      1
1     B          Q      2
2     C          R      3
3     D          S      4

### 154. Count the number of Non-NaN cells for each column

In [109]:
import numpy as np

In [110]:
df = pd.DataFrame([["A", np.NaN], [np.NaN, 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
non_nan_counts = df.count()
print(non_nan_counts)
## end your code here

col_A    3
col_B    2
dtype: int64

### 156. Reverse DataFrame row-wise

In [111]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
reversed_df = df[::-1]
print(reversed_df)
## end our code here

  col_A  col_B
3     D      4
2     C      3
1     B      2
0     A      1

### 157. Reverse DataFrame column-wise

In [112]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
reversed_df = df.loc[:, ::-1]

print(reversed_df)
## end your code here

   col_B col_A
0      1     A
1      2     B
2      3     C
3      4     D

### 158. Insert a row at an arbitrary position

In [113]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

insert_pos = 1
insert_row = ["P", 5]

## start your code below
df = pd.concat([df.iloc[:insert_pos], pd.DataFrame([insert_row], columns=df.columns), df.iloc[insert_pos:]]).reset_index(drop=True)
## end your code here
df

  col_A  col_B
0     A      1
1     P      5
2     B      2
3     C      3
4     D      4

### 160. The cumulative sum of a column in DataFrame

In [114]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col_A", "col_B"])

## start your code below
new_df = df.copy()
new_df['CumulativeSum'] = df['col_B'].cumsum()
## end your code here

new_df

  col_A  col_B  CumulativeSum
0     A      1              1
1     B      2              3
2     C      3              6
3     D      4             10

### 165. Filter n-largest values from a DataFrame

In [115]:
df = pd.DataFrame([["A", 200], ["B", 400],
                   ["C", 100], ["D", 300]],
                  columns=["col_A", "col_B"])

k = 2

## start your code below
largest_k = df.nlargest(k, 'col_B')
## end your code here

largest_k

  col_A  col_B
1     B    400
3     D    300

### 169. Delete the rows that have NaN values

In [116]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df = df.dropna()

## end your code here

print(df)

  col_A  col_B
1     B    2.0
3     D    4.0

### 171. Fill NaN values with column mean

In [119]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df['col_B'].fillna(df['col_B'].dropna().mean(), inplace=True)
## end your code here

print(df)

  col_A  col_B
0     A    3.0
1     B    2.0
2     C    3.0
3     D    4.0

### 173. Swap two rows of a dataframe

In [120]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

# swap second and last row
row_1, row_2 = 1, 3

## start your code below
row_1, row_2 = 1, 3
df.iloc[[row_1, row_2]] = df.iloc[[row_2, row_1]].values
## end your code here
print(df)

  col_A  col_B
0     A      1
1     D      4
2     C      3
3     B      2

### 174. Create a column "col_D" that contains the 2nd largest value in each row

In [122]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 2, 9],
                   [2, 9, 3],
                   [8, 5, 4]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df['col_D'] = df.apply(lambda row: row.nlargest(2).iloc[1], axis=1)

# end your code here

df

   col_A  col_B  col_C  col_D
0      4      1      5      4
1      5      2      9      5
2      2      9      3      3
3      8      5      4      5

### 176. Get the Group "A" of the dataframe by first grouping the dataframe and then using the group key.

In [123]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]],
                  columns=["col_A", "col_B"])


## start your code below
grouped = df.groupby("col_A")
group_A = grouped.get_group("A")


## end your code here

group_A

  col_A  col_B
0     A      1
2     A      3

### 178. Get the rows where the value of "col_A" is equal to "col_B".

In [124]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = df[df['col_A'] == df['col_B']]

## end your code here

print(new_df)

   col_A  col_B  col_C
1      5      5      9

### 180. Sort the Data on col_A and col_B

col_A -> Ascending
col_B -> Descending

In [125]:
df = pd.DataFrame([[4, 1, 5],
                   [2, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = df.sort_values(by=['col_A', 'col_B'], ascending=[True, False])

## end your code here

print(new_df)

   col_A  col_B  col_C
2      2      9      3
1      2      5      9
0      4      1      5
3      8      5      8

### 182. Get the mean of every column

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(mean)

col_A    4.75
col_B    5.00
col_C    6.25
dtype: float64

### 182. Get the mean of every row

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(mean)

0    3.333333
1    6.333333
2    4.666667
3    7.000000
dtype: float64

### 183. Concatentate the two DataFrames row-wise

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_B"])

## start your code below


## end your code here

print(new_df)

  col_A  col_B
0     A      1
1     B      2
2     A      3
3     C      4

### 184. Concatentate the two DataFrames column-wise

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_C", "col_D"])

## start your code below


## end your code here

print(new_df)

   0  1  2  3
0  A  1  A  3
1  B  2  C  4

### 185. Change the last two values in the last column to [2,4]

Change 3 -> 2
Change 8 -> 4

**Note: You should do this in a single line of code**

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(df)

   col_A  col_B  col_C
0      4      1      5
1      5      5      9
2      2      9      2
3      8      5      4

### 186. Replace all '1' with '2'

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(df)

   col_A  col_B  col_C
0      4      2      5
1      5      5      2
2      2      9      3
3      8      5      8

### 187. Replace all '1' with '2' and '5' with '6' in a single line of code

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(df)

   col_A  col_B  col_C
0      4      2      6
1      6      6      2
2      2      9      3
3      8      6      8

### 189. Convert the DataFrame to a list of lists. Don't include the header row.

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(data_list)

[[4, 1, 5], [5, 5, 1], [1, 9, 3], [8, 5, 8]]

### 190. Add three new columns that show the cumulative sum of every column

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(df)

   col_A  col_B  col_C  cumsum1  cumsum2  cumsum3
0      4      1      5        4        5       10
1      5      5      1        5       10       11
2      1      9      3        1       10       13
3      8      5      8        8       13       21

### 191. Print the cumulative sum of every row in a new column.

### In other words, make a column that stores the cumulative sum of the (sum of every row).

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(df)

   col_A  col_B  cumsum  cumsum
0      4      1       5      10
1      5      5       1      11
2      1      9       3      13
3      8      5       8      21

### 194. GroupBy col_A, then find the sum of col_B and mean of col_C

In [ ]:
df = pd.DataFrame([["A", 1, 5],
                   ["B", 5, 1],
                   ["C", 9, 3],
                   ["A", 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

col_A
A    6
B    5
C    9
Name: col_B, dtype: int64 col_A
A    6.5
B    1.0
C    3.0
Name: col_C, dtype: float64

### 195. Find the correlation between every pair of column

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

print(new_df)

          col_A     col_B     col_C
col_A  1.000000 -0.424264  0.599377
col_B -0.424264  1.000000 -0.273434
col_C  0.599377 -0.273434  1.000000

### 198. Merge the two dataframes using the join() method on col_A.
Ï∞∏Í≥†) Note that the `join()` method is similar to the `merge()` method, but it operates on the index by default and has a simplified syntax.

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_C"])

## start your code below

# end your code here

print(new_df)

  col_A  col_B  col_C
0     A    1.0    3.0
1     B    2.0    NaN
2     C    NaN    4.0

### 199. Perform the full outer join on the two DataFrames.

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_C"])

## start your code below


## end your code here

print(new_df)

  col_A  col_B  col_C
0     A    1.0    3.0
1     B    2.0    NaN
2     C    NaN    4.0

### 200. Convert the DataFrame to a dictionary.

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below


## end your code here

dict_df

{'col_A': {0: 4, 1: 5, 2: 1, 3: 8},
 'col_B': {0: 1, 1: 5, 2: 9, 3: 5},
 'col_C': {0: 5, 1: 1, 2: 3, 3: 8}}

### ÎÅù.
### Í≥†ÏÉùÌïòÏÖ®ÏäµÎãàÎã§.